# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / Build folders
build/
dist/
local_build/
*.egg-info/
.eggs/

# Virtual Environments
venv/
.venv/
env/
ENV/

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
ehthumbs.db

# IDE specific (VSCode, PyCharm, etc.)
.vscode/
.idea/
*.swp
*.swo

# Project specific temporary files
project_map.txt
*.log

project_map.txt

